<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta http-equiv="refresh" content="30" />

    <title>Lazerdrive Leaderboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:200,400,700">
</head>
<body>

    <div class="container">

        <div class="jumbotron">
            <h1>Lazerdrive <span class="color2">Leaderboard</span></h1>
            <p class="lead text-right">The Lazerdrive hall of fame of the best scores and players.</p>
            <hr class="m-y-md">
            <a class="btn btn-primary btn-lg btn-block" href="http://www.lazerdrive.io/" target="_blank">Play now</a>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <table class="table table-striped table-hover">

                    {% for position, score in scores %}
                        <tr {% if position == 0 %}class="success"{% endif %}>
                            <td>
                                #{{ position + 1 }}
                            </td>
                            <td {% if 'Player' in score.player %}class="text-muted"{% endif %}>
                                {{ score.player }}
                            </td>
                            <td class="text-right score">
                                {{ score.score }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
        </div>

    </div>

</body>
</html>
